<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Other Metadata</h2></caption>
  <tbody>
  <%= @presenter.attribute_to_html(:series_title) %>
  <%= @presenter.attribute_to_html(:creator, render_as: 'rtl_linked' ) %>
  <%= @presenter.attribute_to_html(:published) %>
  <%= @presenter.attribute_to_html(:media) %>
  <% (PlumSchema.display_fields - [:creator, :series_title, :published, :media, :call_number, :identifier]).each do |display_field| %>
    <%= @presenter.attribute_to_html(display_field) %>
  <% end %>
  <%= @presenter.attribute_to_html(:embargo_release_date) %>
  <%= @presenter.attribute_to_html(:lease_expiration_date) %>
  <%= @presenter.attribute_to_html(:identifier) %>
  </tbody>
</table>
