<% if collector || editor %>
  <div class="form-actions">
    <% if editor %>
      <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, @presenter]), class: 'btn btn-default' %>
      <%= link_to t('file_manager.link_text'), ContextualPath.new(@presenter, @parent_presenter).file_manager, class: 'btn btn-default' %>
      <%= link_to "Edit Structure", ContextualPath.new(@presenter, @parent_presenter).structure, class: 'btn btn-default' %>
      <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
      <%= render 'download_pdf' %>
    <% end %>
  </div>
<% elsif Plum.config['allow_pdf_download'] %>
  <div class="form-actions">
    <%= render 'download_pdf' %>
  </div>
<% end %>

